*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    color: var(--text-primary-color);
}
main{
    width: 100%;
}
main section{
    width: 100%;
    height: 100%;
    display: flex;
    gap: var(--gutter-md);
    padding: var(--padding-lg);
    background-color: var(--bg-primary-color);
}
/* Left section */
main section .left{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section .left .top{
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
     padding: var(--padding-xl);
     border: 1px solid white;
     border-radius: var(--radius-md);
    
}

main section .left .top .btn{
    padding: var(--padding-sm) var(--padding-lg);
    border-radius: var(--radius-md);
    border: none;
    font-size: var(--font-size-sm);
    color: var(--text-primary-color);
    background-color: var(--bg-tertiary-color);
}
#reset-btn{
    background-color: var(--bg-danger-color);
}
#down-btn{
    background-color: var(--bg-active-color);
}

main section .left .bottom{
    margin-top: var(--margin-md);
    border: 1px solid white;
    border-radius: var(--radius-md);
    width: 100%;
    aspect-ratio: 4/3;
     display: flex;
    align-items: center;
    justify-content: center;
}
main section .left .bottom .placeholder{
   color: var(--text-muted-color);
   font-size: var(--font-size-lg);
   display: flex;
   align-items: center;
}
main section .left .bottom .placeholder i{
    font-size: var(--font-size-2xl);
}

canvas{
    max-width: 98%;
    max-height:95% ;
}


/* Right section  */
main section .right {
    width: 38%;
     padding: var(--padding-xl);
     border: 1px solid white;
     border-radius: var(--radius-md);
}
main section .right .filters h2{
    font-size: var(--font-size-xl);
}
.right .filters{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
}
.right .filters .filter{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-sm);
    font-size: var(--font-size-lg);
}
.right .filters .filter input{
    appearance: none;
}
.right .filters .filter input::-webkit-slider-thumb{
   background-color: red;
   appearance: none;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   margin-top: -7.5px;
}
.right .filters .filter input::-webkit-slider-runnable-track{
    background-color: var(--bg-secondary-color);
    height: 5px;
    border-radius: var(--radius-md);
}